<app-pages-header [title]="pageTitle"></app-pages-header>

<section>
  <article>
    <h3>Haftungsausschluss</h3>
    <p>
      Diese Website und alle Inhalte sind Informations- und
      Unterhaltungsangebote und stellen keine Anlageberatung dar.
    </p>
    <p>
      Eine Garantie oder Haftung für die Richtigkeit, Vollständigkeit und
      Aktualität der zur Verfügung gestellten Inhalte und Informationen kann
      demnach nicht übernommen werden.
    </p>
    <p>
      Bitte beachten Sie, dass Aktien und insbesondere Derivate und
      Hebelprodukte wie Optionsscheine grundsätzlich mit Risiko verbunden sind.
      Auch ein Totalverlust des eingesetzten Kapitals kann nicht ausgeschlossen
      werden. Des Weiteren weisen wir daraufhin, dass die veröffentlichten
      Artikel, Daten und Einschätzungen (Inhalte dieser Webseite) keine
      Aufforderung zum Kauf oder Verkauf von Wertpapieren oder Rechten
      darstellen. Sie ersetzen auch nicht eine fachliche Beratung.
    </p>
  </article>

  <article>
    <h3>Ausschluss der Beratung</h3>
    <p>
      Die zum Abruf bereit gehaltenen und angezeigten Inhalte (Charts,
      Kennzahlen, Podcasts, Artikel, sonstige Daten) dienen ausschließlich Ihrer
      Information.
    </p>
    <p>
      Eine allgemeine und individuelle Vermögens- und Wertpapierberatung wird im
      Rahmen dieses Internet-Auftrittes nicht angeboten. Mit der Bereitstellung
      der Inhalte ist ausdrücklich keine Anlageempfehlung verbunden. Niemals
      sollten Sie Anlageentscheidung aufgrund oder ausschließlich auf Grund der
      hier erlangten Informationen treffen. Unsere Analysen von
      Geschäftsmodellen ersetzen nicht die eigene Recherche oder eine
      professionelle Anlageberatung.
    </p>
  </article>

  <article>
    <h3>Richtigkeit von Informationen</h3>
    <p>
      Wir recherchieren Informationen nach besten Wissen und Gewissen aus
      öffentlich verfügbaren Quellen. Dabei können uns auch nach sorgfältiger
      Prüfung Fehler unterlaufen oder die Quellen selbst falsch liegen.
    </p>
  </article>

  <article>
    <h3>Interessenskonflikte</h3>
    <p>
      Wir traden oder investieren regelmäßig auch in den von uns erwähnten
      Unternehmen, insbesondere wenn es sich dabei um Technologie- und
      Wachstumstitel handelt.
    </p>
    <p>
      Das bedeutet, dass die Betreiber dieser Website möglicherweise Anteile an
      den dargestellten Unternehmen halten.
    </p>
  </article>
</section>
