:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7rem;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1440px;
}

.dashboard-widgets {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.search-bar {
  margin-bottom: 1rem;
}



// .scroll-top-btn {
//   position: fixed;
//   z-index: 1000;
//   bottom: 5%;
//   left: 50%;
//   transform: translate(-50%, 50%);
// }

// .scroll-top-btn {
//   display: none;
// }

// .scroll-top-btn.visible {
//   display: block;
// }