<header>
  @if (stockService.stockData()) {
    <div>
      <img [src]="'/logos/' + stockService.stockData()!.ticker + '.png'" alt="{{ stockService.stockData()!.name }}">
      <h2>{{ stockService.stockData()!.name }}</h2>
      <h3>{{ stockService.stockData()!.ticker }}</h3>
    </div>

    <a [href]="stockService.stockData()!.url" target="_blank" rel="noopener noreferrer" class="button-link">
      <button mat-fab extended>View Spreadsheet</button>
    </a>


    <!-- Favorite Button -->
    <!-- <button mat-fab extended (click)="toggleFavorite()" class="favorites-btn">
      <mat-icon>
        {{ isFavorite() ? 'favorite' : 'favorite_border' }}
      </mat-icon>
    </button> -->


    <button (click)="toggleFavorite()" class="favorites-btn" mat-icon-button>
      <mat-icon [ngClass]="isFavorite() ? 'favorite-filled' : 'favorite-outline'">
        {{ isFavorite() ? 'favorite' : 'favorite_border' }}
      </mat-icon>
    </button>
  }
  @else {
    <p>Sorry! Stock not found!</p>
  }
</header>
