* {
  box-sizing: border-box;
}

:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  // background-color: var(--sys-secondary-container);
  background-color: #28ebcf;
  padding: 0.5rem;
  border-radius: 0.75rem;
  width: 100%;
  max-width: 1440px;
  color: #101112;

  @media (min-width: 680px) {
    flex-direction: row;
    gap: 2rem;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    img {
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-items: center;
      object-fit: scale-down;
    }

    h2 {
      margin: 0;
      font-size: 1.5rem;
    }

    h3 {
      margin: 0;
      font-size: 1rem;
    }
  }
}

.favorites-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: none;
  cursor: pointer;

  mat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-size: 2rem;
    transition: color 0.3s ease;
  }

  .favorite-filled {
    color: rgb(186 26 26);
  }

  .favorite-outline {
    color: rgb(186 26 26);
  }
}
