<header>
  @if (stockService.stockData()) {
    <div>
      <img [src]="'/logos/' + stockService.stockData()!.name.toLowerCase() + '.png'" alt="{{ stockService.stockData()!.name }}">
      <h2>{{ stockService.stockData()!.name }}</h2>
      <h3>{{ stockService.stockData()!.ticker }}</h3>
    </div>

    <a [href]="stockService.stockData()!.url" target="_blank" rel="noopener noreferrer" class="button-link">
      <button mat-fab extended>View Spreadsheet</button>
    </a>

    <!-- Favorite Button -->
    <button mat-button (click)="toggleFavorite()" class="favorites-btn">
      {{ isFavorite() ? 'Remove from Favorites' : 'Add to Favorites' }}
    </button>
  }
  @else {
    <p>Sorry! Stock not found!</p>
  }
</header>
