* {
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--sys-secondary-container);
  padding: 0.5rem;
  border-radius: 0.75rem;

  @media (min-width: 680px) {
    flex-direction: row;
    gap: 2rem;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    img {
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-items: center;
      object-fit: scale-down;
    }

    h2 {
      margin: 0;
      font-size: 1.5rem;
    }

    h3 {
      margin: 0;
      font-size: 1rem;
    }
  }
}

.favorites-btn {
  color: var(--sys-inverse-surface);
  background-color: var(--sys-on-primary);
}
