:host * {
  transition: all 250ms ease-in-out;
}

.content {
  padding: 1.5rem;
}

mat-sidenav-container {
  height: calc(100vh - var(--header-height-desktop));
  --mat-sidenav-container-background-color: var(--sys-surface-container);
}

mat-sidenav {
  border-right: 1px solid var(--sys-outline);
  display: flex;

  &.collapsed {
    border-right: none;
  }
}

.sidenav-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 0;
  width: 100%;

  img {
    border-radius: 100%;
    object-fit: cover;
    align-self: center;
  }
}

.header-text {
  p {
    margin: 0;
    font-size: 0.75rem;
    line-height: 1.5rem;
  }
}

.hide-header-text {
  opacity: 0;
  height: 0px;
  display: none;
}

.menu-item {
  border-left: 0.25rem solid;
  border-left-color: transparent;
}

.selected-menu-item {
  // border-left-color: var(--selected-menu-item-border-color);
  border-left-color: #28ebcf;
}

mat-sidenav,
mat-sidenav-content {
  transition: all 250ms ease-in-out;
}

.indented {
  --mat-list-list-item-leading-icon-start-space: 2rem;
}

@media (max-width: 599px) {
  mat-sidenav-container {
    height: calc(100vh - var(--header-height-mobile));
  }
}
