<header>
  <app-pages-header [title]="pageTitle" class="header"></app-pages-header>
</header>

<section class="basic-widget-container">
  <app-basic-widget-magseven></app-basic-widget-magseven>
</section>

<section class="main-widget-container">
  <app-revenue-breakdown-widget-magseven></app-revenue-breakdown-widget-magseven>
  <app-revenue-widget-magseven></app-revenue-widget-magseven>
  <app-netincomettm-widget-magseven></app-netincomettm-widget-magseven>
  <app-netincome-widget-magseven></app-netincome-widget-magseven>
  <app-grossmargin-widget-magseven></app-grossmargin-widget-magseven>
</section>
