:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 4rem;
  align-items: center;
}

header {
  width: 100%;
  max-width: 1440px;
}

.header {
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1440px;
  max-width: 800px;
  margin: 0 auto;
  word-break: break-word;
}

a {
  text-decoration: none;
  color: lightblue;
  word-break: break-all;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}
