:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 4rem;
  align-items: center;
}

header {
  width: 100%;
  max-width: 1440px;
}

.header {
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1440px;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

article {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .podcast-btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;

    a {
      button {
        min-width: 8rem;
      }
    }
  }
}
