mat-toolbar {
  position: relative;
  justify-content: center;
  z-index: 5;
  --mat-toolbar-container-background-color: var(--sys-surface-container-low);

  h1 {
    cursor: pointer;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
}
