* {
  box-sizing: border-box;
}

.widget {
  padding: 1rem;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--sys-secondary-container);
  cursor: pointer;
}