<div class="widget" (click)="goToDashboard()">

      <div class="widget-header">
        <img [src]="data.logo" [alt]="data.ticker + ' logo'" />
        <div>
          <p class="ticker">{{ data.ticker }}</p>
          <p class="name">{{ data.name }}</p>
        </div>
      </div>
  
      <div class="widget-body">
        <div class="current-year">
          <p class="revenueText">Revenue {{ data.lastQuarter }}</p>
          <p class="revenueNumber">
            {{ data.lastRevenue ? (data.lastRevenue | billionFormat) : "-" }}
          </p>
          <p class="infoText">in Bill. USD</p>
        </div>

        <div class="change-year">
          <p class="percentage-change" [ngClass]="{'positive': calculatePercentageChange() > 0, 'negative': calculatePercentageChange() < 0}">
            {{ calculatePercentageChange() | number: '1.2-2' }}%
          </p>
          <p class="infoText">Change YoY</p>
        </div>
      </div>

    
  </div>