<div class="widget" (click)="goToDashboard()">

      <div class="widget-header">
        <img [src]="data.logo" [alt]="data.ticker + ' logo'" />
        <div>
          <p class="name">{{ data.name }}</p>
          <p class="ticker">{{ data.ticker }}</p>
        </div>
      </div>
  
      <div class="widget-body">
        <p class="revenueText">Revenue {{ data.lastQuarter | quarterFormat }}</p>
        <p class="revenueNumber">
          {{ data.lastRevenue ? (data.lastRevenue | billionFormat) : "-" }}
        </p>
        <p class="infoText">in Bill. USD</p>
      </div>
    
  </div>